apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product
  template:
    metadata:
      labels:
        app: product
    spec:
      containers:
        - name: product
          image: ksenyay/product:latest
          imagePullPolicy: Never
          env:
            - name: MONGO_URL
              value: "mongodb://product-mongo-srv:27017/product"
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_SECRET
            - name: AWS_REGION
              value: "eu-central-1"
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: aws-access-key-id
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: aws-secret-access-key
                  key: AWS_SECRET_ACCESS_KEY
            - name: S3_BUCKET_NAME
              value: "soundio-storage"
            - name: CLOUDFLARE_ACCOUNT_ID
              value: "590885aa0a9d29e5d71a7a61ec6969aa"
            - name: R2_PUBLIC_URL
              value: "https://pub-6253a91849cf4221ab5108b450c39f1a.r2.dev"
          ports:
            - containerPort: 4001
---
apiVersion: v1
kind: Service
metadata:
  name: product-srv
spec:
  selector:
    app: product
  ports:
    - protocol: TCP
      port: 4001
      targetPort: 4001
